Flask==2.0.3
Werkzeug==2.0.3
SQLAlchemy==1.4.45
M2Crypto
requests
mysqlclient  # requires python3-devel mysql-devel
dirq
python-dateutil
PyJWT
jwcrypto
wrapt<1.14  # dependency management for conflicting versions 'jwcrypto --> wrapt' and 'bandit --> wrapt'
oic
Mako
