Flask
SQLAlchemy
M2Crypto
requests
mysqlclient  # requires python3-devel mysql-devel
dirq
python-dateutil
PyJWT
jwcrypto
wrapt<1.14; python_version <= '3.6' # dependency management for conflicting versions 'jwcrypto --> wrapt' with 'bandit --> wrapt' on Python3.6
oic
Mako
