.monospace {
	font-family: monospace;
}


.table>tbody>tr>td {
	vertical-align: middle;
}


.table-striped-tbody>tbody:nth-child(odd) {
	background-color: #DDD;
}


.table-striped-tbody>tbody:hover {
	background-color: #CCC;	
}


.panel-collapse>.panel-body {
    display: none;
}

.endpoint{
	display: none;
}

.checkboxes label
{
	display: block;
	float: right;
	padding-right: 10px;
	white-space: nowrap;
}

.checkboxes input
{
	vertical-align: middle;
}

.checkboxes label span
{
	vertical-align: middle;
}

.inv {
    display: none;
}
.cursor-pointer{
	cursor: pointer;
  }

a.disabled {
	/* Make the disabled links grayish*/
	color: gray;
	/* And disable the pointer events */
	pointer-events: none;
  }