<%include file="header.html" args="page='/config/cloud_storage', subtitle='Cloud storage configuration'"/>

<div class="container">
	<h1>Cloud storage</h1>
<br>


    <div id="storage-list">
        <script id="s3-storage-entry-template" type="text/x-handlebars-template">
        <div class="panel panel-info panel-s3">
            <input type="hidden" name="storage-name" value="{{cloudStorage_name}}"/>
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{cloudStorage_name}}
                    <span style="float:right; margin-left: 20px ">
                        Region: <code>{{region}}</code>
                    </span>
                    {{#if alternate}}
                    <span style="float:right">
                        Alternate:<code>[x]</code>
                    </span>
                    {{else}}
                    <span style="float:right">
                        Alternate:<code>[ ]</code>
                    </span>
                    {{/if}}
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th>VO roles</th>
                        <th>Access key</th>
                        <th>Secret key</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr class="user-entry">
                        <td>
                            <a><i class="glyphicon glyphicon-trash btn-delete-user"></i></a>
                            <a><i class="glyphicon glyphicon-floppy-disk btn-save-user"></i></a>
                        </td>
                        <td>
                            <input type="hidden" name="user-dn" value="{{user_dn}}"/>
                            {{user_dn}}
                        </td>
                        <td>
                            <input type="hidden" name="vo-name" value="{{vo_name}}"/>
                            {{vo_name}}
                        </td>
                        <td>
                            <input type="text" name="access-key" class="form-control" value="{{access_key}}"/>
                        </td>
                        <td>
                            <input type="text" name="secret-key" class="form-control" value="{{secret_key}}"/>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tbody class="frm-add-user">
                    <tr>
                        <td style="width: 1%">
                            <a><i class="glyphicon glyphicon-plus btn-add-user"></i></a>
                        </td>
                        <td>
                            <input name="user-dn" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="vo-name" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="access-key" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="secret-key" type="text" class="form-control" value=""/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn-success btn-save">Save</button>
                <button class="btn btn-danger btn-delete">Delete</button>
            </div>
        </div>
        </script>
        <script id="gcloud-storage-entry-template" type="text/x-handlebars-template">
            <div class="panel panel-info panel-gcloud">

            <input type="hidden" name="storage-name" value="{{cloudStorage_name}}"/>
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{cloudStorage_name}}
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th>VO roles</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr class="user-entry">
                        <td>
                            <a><i class="glyphicon glyphicon-trash btn-delete-user"></i></a>
                            <a><i class="glyphicon glyphicon-floppy-disk btn-save-user"></i></a>
                        </td>
                        <td>
                            <input type="hidden" name="user-dn" value="{{user_dn}}"/>
                            {{user_dn}}
                        </td>
                        <td>
                            <input type="hidden" name="vo-name" value="{{vo_name}}"/>
                            {{vo_name}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tbody class="frm-add-user">
                    <tr>
                        <td style="width: 1%">
                            <a><i class="glyphicon glyphicon-plus btn-add-user"></i></a>
                        </td>
                        <td>
                            <input name="user-dn" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="vo-name" type="text" class="form-control" value=""/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn-success btn-save">Save</button>
                <button class="btn btn-danger btn-delete">Delete</button>
            </div>
        </div>
        </script>
        <script id="swift-storage-entry-template" type="text/x-handlebars-template">
            <div class="panel panel-info panel-swift">


            <input type="hidden" name="storage-name" value="{{cloudStorage_name}}"/>
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{cloudStorage_name}}
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th>VO roles</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr class="user-entry">
                        <td>
                            <a><i class="glyphicon glyphicon-trash btn-delete-user"></i></a>
                            <a><i class="glyphicon glyphicon-floppy-disk btn-save-user"></i></a>
                        </td>
                        <td>
                            <input type="hidden" name="user-dn" value="{{user_dn}}"/>
                            {{user_dn}}
                        </td>
                        <td>
                            <input type="hidden" name="vo-name" value="{{vo_name}}"/>
                            {{vo_name}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tbody class="frm-add-user">
                    <tr>
                        <td style="width: 1%">
                            <a><i class="glyphicon glyphicon-plus btn-add-user"></i></a>
                        </td>
                        <td>
                            <input name="user-dn" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="vo-name" type="text" class="form-control" value=""/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn-success btn-save">Save</button>
                <button class="btn btn-danger btn-delete">Delete</button>
            </div>
        </div>
        </script>
    </div>
    <div id="add-cloudstorage">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Add new cloud storage:
                    <span style="float:right">
                        <label for="cs-dropdown">Cloud Storage type</label>
                        <select id="cs-dropdown">
                            <option value="s3" selected>S3</option>
                            <option value="gcloud">Gcloud</option>
                            <option value="swift">Swift</option>
                        </select>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-inline"></div>
            </div>
        </div>
        <div class="vis" id="s3">
        <table class="table" >
            <thead>
            <tr>
                <th>Storage Name</th>
                <th>Access Secret</th>
                <th>Secret Key</th>
                <th>Region</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="user-entry">
                <input type="hidden" name="cloud_type" value="{{service_api_url}}"/>
                <td>
                    <input name="storage-name" type="text" class="form-control" />
                </td>
                <td>
                    <input type="text" name="'request-secret'" class="form-control"/>
                </td>
                <td>
                    <input type="text" name="region" class="form-control"/>
                </td>
                <td>
                    <label style="display: block; padding-left: 15px; text-indent: -15px; top: 1px;">
                        <input type="checkbox" name="alternate"
                                   style="width: 15px; height: 15px; padding: 0;margin: 0; vertical-align: center;
                                       position: relative; top: 1px;"/>  Alternate
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="inv" id="gcloud">
        <table class="table" >
            <thead>
            <tr>
                <th>Storage Name</th>
                <th>JSON input file</th>
            </tr>
            </thead>
            <tbody>
            <tr class="user-entry">
                <td>
                    <input name="storage-name" type="text" class="form-control" />
                </td>
                <td>
                    <input type="file" name="json_file"/>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="inv" id="swift">
        <table class="table">
            <thead>
            <tr>
                <th>Storage Name</th>
                <th>OS Project ID</th>
                <th>OS Token</th>
            </tr>
            </thead>
            <tbody>
            <tr class="user-entry">
                <td>
                        <input name="storage-name" type="text" class="form-control" />
                </td>
                <td>
                        <input name="os-project-id" type="text" class="form-control" />
                </td>
                <td>
                        <input name="os-token" type="text" class="form-control" />
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success btn-save">Add</button>
        </div>
    </div>
</div>
<script src="/js/config/cloud_storage.js" onload="setupCloudStorage()"></script>

<%include file="footer.html"/>
