<%include file="header.html" args="page='/config/cloud_storage', subtitle='Cloud storage configuration'"/>

<div class="container">
	<h1>Cloud storage</h1>
<br>


    <div id="storage-list">
        <script id="storage-entry-template" type="text/x-handlebars-template">
        <div class="panel panel-info">
            <input type="hidden" name="storage-name" value="{{storage_name}}"/>
            <input type="hidden" name="service-api" value="{{service_api_url}}"/>

            <div class="panel-heading">
                <h3 class="panel-title">
                    {{storage_name}}
                    <span style="float:right">
                        Service API: <code>{{service_api_url}}</code>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th>VO roles</th>
                        <th>Access token</th>
                        <th>Access secret</th>
                        <th>Request token</th>
                        <th>Request secret</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr class="user-entry">
                        <td>
                            <a><i class="glyphicon glyphicon-trash btn-delete-user"></i></a>
                            <a><i class="glyphicon glyphicon-floppy-disk btn-save-user"></i></a>
                        </td>
                        <td>
                            <input type="hidden" name="user-dn" value="{{user_dn}}"/>
                            {{user_dn}}
                        </td>
                        <td>
                            <input type="hidden" name="vo-name" value="{{vo_name}}"/>
                            {{vo_name}}
                        </td>
                        <td>
                            <input type="text" name="access-token" class="form-control" value="{{access_token}}"/>
                        </td>
                        <td>
                            <input type="text" name="access-secret" class="form-control" value="{{access_token_secret}}"/>
                        </td>
                        <td>
                            <input type="text" name="request-token" class="form-control" value="{{request_token}}"/>
                        </td>
                        <td>
                            <input type="text" name="request-secret" class="form-control" value="{{request_token_secret}}"/>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tbody class="frm-add-user">
                    <tr>
                        <td>
                            <a><i class="glyphicon glyphicon-plus btn-add-user"></i></a>
                        </td>
                        <td>
                            <input name="user-dn" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="vo-name" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="access-token" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="access-secret" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="request-token" type="text" class="form-control" value=""/>
                        </td>
                        <td>
                            <input name="request-secret" type="text" class="form-control" value=""/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn-success btn-save">Save</button>
                <button class="btn btn-danger btn-delete">Delete</button>
            </div>
        </div>
        </script>
    </div>

    <form class="panel panel-success" id="add-cloud-frm">
        <div class="panel-heading">
            <h3 class="panel-title">
                Select the type to add a new cloud storage:
                <select>
                    <option value="s3">S3 endpoint</option>
                    <option value="gCloud">GCloud endpoint</option>
                    <option value="swift">Swift endpoint</option>
                </select>
            </h3>
            <div class="s3 endpoint">You have selected: <strong> S3 endpoint</strong> </div>
            <div class="gCloud endpoint">You have selected: <strong> GCloud endpoint</strong> </div>
            <div class="swift endpoint">You have selected: <strong> Swift endpoint</strong> </div>
        </div>
        <div class="panel-body s3 endpoint">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="storage-name" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Access key</label>
                <input name="access-key" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Secret key</label>
                <input name="secret-key" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input name="alternate" type="checkbox" class="checkboxes"/>
                <label class="control-label" >Alternate</label>
            </div>
            <div class="form-group">
                <label class="control-label">Region</label>
                <input name="region" type="text" class="form-control"/>
            </div>
            <input type="submit" class="btn btn-info" value="Add">
        </div>
        <div class="panel-body gCloud endpoint">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="storage-name" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">JSON input</label>
                <input name="json-input" type="file"/>
            </div>
            <input type="submit" class="btn btn-info" value="Add">
        </div>
        <div class="panel-body swift endpoint">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="storage-name" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">OS Project ID</label>
                <input name="os-project-id" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">OS Token</label>
                <input name="os-project-id" type="text" class="form-control"/>
            </div>
            <input type="submit" class="btn btn-info" value="Add">
        </div>
    </form>
</div>
<script src="/js/config/cloud_storage.js" onload="setupCloudStorage()"></script>

<%include file="footer.html"/>
